__pycache__/mars_planner.cpython-310.pyc
__pycache__/routefinder.cpython-310.pyc
__pycache__/search_algorithms.cpython-310.pyc
__pycache__/test_mars_planner.cpython-310-pytest-8.3.3.pyc
__pycache__/test_routefinder.cpython-310-pytest-8.3.3.pyc
__pycache__/test_search_algorithms.cpython-310-pytest-8.3.3.pyc
